.App {
  background: white;
  height: 100vh;
  /*display: flex;*/
  position: relative;
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
}

.header {
  height: 10vh;
  width: 95%;
  /*text-align: center;*/
  border-bottom: 2px solid rgba(204, 204, 204, 0.658);
  bottom: 0;
  /*display: flex;*/
  /*align-items: center;*/
  /*padding: 0 1rem;*/
  opacity: 0.8;
  padding-top: 1.5rem;
  margin-left: 1.5rem;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 60%;
}

.title {
  color: black;
  font-weight: bolder;
  font-size: 24px;
  margin-left: 1rem;
  font-family: poppins;
  position: absolute;
  top: 2.5%;
  left: 6%;
}

.subtitle {
  color: black;
  font-weight: normal;
  font-size: 14px;
  font-family: poppins;
  position: absolute;
  top: 7%;
  left: 7.5%;
}

.footer {
  position: absolute;
  bottom: 1%;
  height: 85vh;
  width: 95%;
  /*text-align: center;*/
  /*border-top: 2px solid rgba(204, 204, 204, 0.658);*/
  /*display: inline-block;*/
  /*align-items: center;*/
  padding: 0 1rem;
  opacity: 0.8;
  margin-left: 1.5rem;
  font-family: poppins;
  font-weight: bolder;
}

.user-input-form {
  position: absolute;
  width: 97%;
  height: 20%;
  bottom: 0;
}

.Input {
  /* width: 60%; */
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  /*padding: 0 1rem;*/
  background: whitesmoke;
  color: black;
  width: 75%;
}

/*input component*/
.user-input-box {
  border-top: 2px solid rgba(204, 204, 204, 0.658);
  position: relative;
  padding-top: 5px;
}

.user-input-box1 {
  display: inline-block;
  position: absolute;
  width: 50%;
  left: 0;
}

.user-input-box2 {
  position: absolute;
  width: 50%;
  left: 50%;
}

.label1, .label2 {
  display: inline-block;
  margin-left: 2.5%;
  width: 20%;
}

.button {
  padding-bottom: 5px;
}

.button button {
  background-color: rgb(255, 136, 32);
  color: white;
  border: none;
  margin-left: 87.5%;
  border-radius: 1rem;
  width: 11.5%;
  height: 5vh;
  font-size: 1.5vw;
}

.card-group{
  padding-top: 3%;
}

.card-group div{
  display: inline-block;
  /*margin-left: 20px;*/
  /*height: 100%;*/
  /*background-color: black;*/
}
.card {
  width: 30%;
  /*height: 900px;*/
  position: relative;
  margin-left: 3%;
  /*background-color: black;*/
  /*display: flex;*/
  /*justify-content: flex-start;*/
}

.final{
  background-color: rgb(255,230,179);

}
.card div{
  display: block;
}

.item1 {
  color: blue;
  font-size: 18px;
}

.item2 {
  font-size: 18px;
}

.item3{
  color: #E57105;
}

.item4{
  color: #095BFF;
}

.item {
  position: absolute;
  right: 5%;
}

.loading div{
  text-align: center;
}
